<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva institución</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formCreate" (submit)="handleSaveForm()">
        <div>
          <ion-input label="Nombre" labelPlacement="floating" placeholder="Pascual de andagoya" formControlName="name"
            errorText="El nombnre es requerido" />
        </div>
        <div>
          <ion-button expand="full" type="submit">Crear institución</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>