<form [formGroup]="formCreateUser" (submit)="handleSaveUser()">
  <ion-list>
    <ion-item>
      <ion-input label="Nombre" labelPlacement="stacked" placeholder="Jhon" formControlName="name" />
    </ion-item>
    <ion-item>
      <ion-input label="Apellidos" labelPlacement="stacked" placeholder="Doe" formControlName="last_name" />
    </ion-item>
    <ion-item>
      <ion-input label="Correo electronico" labelPlacement="stacked" placeholder="jhondoe@mail.com"
        formControlName="email" />
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" type="password" labelPlacement="stacked" placeholder="*****"
        formControlName="password" />
    </ion-item>
    <ion-item>
      <ion-select formControlName="role_id" aria-label="roles" label="Rol" label-placement="stacked">
        <ion-select-option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div>
      <ion-button expand="full" type="submit">Crear usuario</ion-button>
    </div>
  </ion-list>
</form>