<ion-card>
  <ion-card-content>
    <form [formGroup]="formQuestion">
      <ion-list>
        <ion-item>
          <ion-input label="Pregunta" labelPlacement="floating" placeholder="" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Tipo de pregunta" (ionChange)="changeType($event)" formControlName="type">
            <ion-select-option value="text">Texto</ion-select-option>
            <ion-select-option value="options">Varias opciones</ion-select-option>
          </ion-select>
        </ion-item>
        @if(question.type == 'options'){
        <ion-list>
          @for(option of options; track option; let indx = $index){
          <ion-item>
            <ion-radio slot="start" disabled />
            <ion-input [value]="option" (ionChange)="updateOptions(indx, $event)" />
            <ion-button (click)="deleteOption(indx)" color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-item>
          }
        </ion-list>
        <ion-item>
          <ion-button (click)="addOption()">Agregar opción</ion-button>
        </ion-item>
        }
      </ion-list>
    </form>
    <ion-item-divider>
      <ion-button (click)="handleSubmitQuestion()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="handleDeleteQuestion()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item-divider>
  </ion-card-content>
</ion-card>