<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar encuesta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>Editar encuesta</ion-card-title>
    </ion-card-header> -->
    <ion-card-content>
      <form [formGroup]="formEditSurvey" (submit)="handleUpdateSurvey()">
        <div>
          <ion-input class="formTitle" labelPlacement="floating" placeholder="Encuesta 1" formControlName="name"
            errorText="El nombnre es requerido" />
        </div>
        <div>
          <ion-textarea label="Descripción" labelPlacement="floating" placeholder="Encuesta 1"
            formControlName="description"></ion-textarea>
        </div>
        <div>
          <ion-button expand="full" type="submit">Actualizar encuesta</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <div *ngFor="let question of questions">
    <app-survey-question (questionDeleted)="fetchSurvey()" [question]="question"></app-survey-question>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="handleAddQuestion()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>